@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
	background-image: url("img/backgroundbody.svg");
	background-size: cover;
	cursor: url("img/cursor.svg"), auto;
}
.indexbody{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("img/backgroundindex.svg");
	gap:2%;
	height: 100vh;
}
.indexbody h1{
	font-size: 4em;
}
.indexbody h2{
	font-size: 2.5em;
}
.indexbody span{
	font-size: 1.5em;
	font-weight: 500;
}
.tituloindex{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 50px;
}
header {
	display: flex;
	flex-direction: column;
	background-image: url("img/backgroundheader.png");
	height: 210px;
}
footer{
	background-color: #E83E27;
	display: flex;
	justify-content: center;
	align-items: center;
	gap:20%;
	padding: 20px 0px;
}
a{
	text-decoration: none;
	cursor: url("img/cursormano.svg"), auto;
}
a:not(.fixed):hover{
	transform: scale(1.3);
	transition: 0.5s;
}
img:hover{
	transform: scale(1.2);
	transition: 0.5s;
}
footer a{
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: center;
}
.botonera span:hover{
	background-color: white;
	color: #E83E27;
	border-radius: 5px;
	padding: 3px;
}
.botonera{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 3.5%;
	padding: 10px 20px 10px 10px;
	background-image: linear-gradient(to left, #E83E27, #F7A237);
	height: auto;
	z-index: 150;
}
.headerizq {
	height: 160px;
	padding:65px 0px 0px 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 35px;
	position: absolute;
}
.fotoheader{
	z-index: 160;
	filter: drop-shadow(10px 8px 10px rgba(0,0,0,0.5))
}
.headertitle{
	display: flex;
	flex-direction: column;
}
h1 {
	font-family: Josefin Sans;
	font-size: 3em;
	font-weight: bold;
	color: white;
	margin: 0px;
}
h2 {
	font-family: Josefin Sans;
	font-size: 1.7em;
	font-weight: bold;
	color: white;
}
h3{
	font-family: Josefin Sans;
	font-size: 1.3em;
	font-weight: bold;
	color: #E83E27;
}
h4 {
	font-family: Josefin Sans;
	font-weight: bold;
	color: white;
	font-size: 1.2em;
}
h5 {
	font-family: Archivo;
	font-weight: bold;
	font-size: 1.1em;
	color: white;
}
h6{
	font-family: Josefin Sans;
	font-weight: bold;
	font-size: 7em;
	color:#E83E27;
	opacity: 60%;
	margin: 0px;
}
.mainhome {
	display: flex;
	flex-direction: row;
	gap:4%;
}
.main-contacto{
	display: flex;
	flex-direction: row;
}
.mainproyectos{
	display: flex;
}
.descripciones{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 70%;
	gap:40px;
	padding: 90px 8% 7%;
}
.descripciones img:hover{
	transform: scale(1)
}
.descripciones h3{
	margin-bottom: 0px;
}
.bloque{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap:100px;
}
.bloque img{
	border-radius: 25px 0px;
}
.descripcion{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	width: 450px;
	gap: 15px;
}
.galeria{
	padding-top: 5%;
	display: grid;
	grid-template-columns: 255px 255px 255px 255px;
	grid-template-rows: 255px;
}
.maingallery{
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
}
.gallery img:hover{
	transform: scale(1);
}
.gallery{
	padding: 8%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 50%;
}
.gallery h3{
	color:#E83E27;
	font-size: 2em;
	padding-top: 15px;
}
.gallery p{
	padding: 30px;
	font-size: 1.3em;
	line-height: 1.3;
	background-color: #E83E27;
	border-radius: 20px 0px;
	filter: drop-shadow(10px 8px 10px rgba(0,0,0,0.5))
}
.gallery a{
	font-size: 0.9em;
	height: 10px;
	font-weight: 600;
}
.maingallery img{
	filter: drop-shadow(10px 8px 10px rgba(0,0,0,0.5))
}
.blendgallery{
	height: 660px;
	display: grid;
	grid-template-columns: 220px 920px 220px;
	grid-template-rows: 220px;
}
.blend1{
	grid-row-start: 1;
	grid-column-start: 2;
}
.blend2{
	grid-column-start: 1;
	grid-row-start: 3;
}
.blend5{
	grid-column-start: 3;
	grid-row-start: 3;
}
.habitaciongallery{
	display: grid;
	grid-template-columns: 220px 410px 220px;
	grid-template-rows: 300px 300px;
	grid-gap: 20px;
}
.hab1{
	grid-column-start: 1;
	grid-row-start: 1;
}
.hab2{
	grid-column-start: 1;
	grid-row-start: 2;
}
.hab4{
	grid-column-start: 3;
	grid-row-start: 2;
}
.habitacioncentral{
	grid-column-start: 2;
}
.budapestgallery{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 270px 750px 270px;
	grid-template-rows: 270px 270px;
}
.budapest1{
	grid-column-start: 2;
	grid-row-start: 1;
}
.budapest2{
	grid-column-start: 1;
}
.budapest3{
	grid-row-start: 2;
	grid-column-start: 3;
}
.causagallery{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 250px 440px 250px;
	grid-template-rows: 200px 200px 200px;	
}
.causa1{
	grid-column-start: 2;
	grid-row-start: 1;
}
.causaneta{
	grid-column-start: 3;
	grid-row-start: 3;
}
.mapacausa{
	grid-column-start: 1;
	grid-row-start: 3;
}
.tazacausa{
	grid-column-start: 3;
	grid-row-start: 2;
}
.causaid{
	position: absolute;
	transform: translate(-10%,0%);
	top: 210px;
	left: 1px;
	z-index: 40;
}
.causasticks{
	position: absolute;
	transform: translate(70%,0%);
	top: 800px;
	right: 15%;
	z-index: 40;
}
.wavegallery{
	display: grid;
	grid-template-columns: 340px 500px 340px;
	grid-gap: 20px;
}
.bpcgallery{
	display: grid;
	grid-template:562px 320px / 280px 320px 320px 320px 280px;
	grid-gap:25px;
}
.bpc1{
	grid-column-start: 1;
	grid-row-start: 1;
}
.bpc2{
	grid-column-start: 2;
	grid-row-start: 2;
}
.bpc3{
	grid-column-start: 3;
	grid-row-start: 2;
}
.bpc4{
	grid-column-start: 4;
}
.bpc5{
	grid-column-start: 5;
	grid-row-start: 1;
}
video{
	border-radius: 30px;
}
.mainproyectos p{
	color: black;
	font-weight: 600;
}
.formulario{
	padding: 80px 0px 120px 7%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 15px;
}
form {
	background-color:#E83E27;
	filter: drop-shadow(10px 8px 10px rgba(0,0,0,0.6));
	border-radius: 60px 0px;
	padding: 60px;
	width: 700px;
	justify-content: space-around;
	display: flex;
	gap:30px;
}
.formder{
	display:flex;
	flex-direction:column;
	gap:20px;
	justify-content: space-between;
}
.formizq{
	display:flex;
	flex-direction:column;
	gap:20px;
	justify-content: space-between;
}
input[type="checkbox"]{
	margin-right: 15px;
	transform: scale(1.5);
}
.borrar{
	font-weight: bold;
	display: flex;
	align-self: center;
	justify-content: center;
	width: 50%;
	border: 2px solid #FFFFFF;
	color: white;
	background-color: #E83E27;
	filter: drop-shadow(10px 8px 10px rgba(0,0,0,0.6));
}
.borrar:hover{
	transform: scale(1.15);
	transition: 0.4s;
}
.vamos{
	font-size: 1em;
	font-weight: bold;
	display: flex;
	align-self: center;
	justify-content: center;
	width: 65%;
	border: 3px solid #FFFFFF;
	color: white;
	background-color: #E83E27;
	filter: drop-shadow(10px 8px 10px rgba(0,0,0,0.6));
}
.vamos:hover{
	color:#E83E27;
	background-color: white;
	border: 3px solid #E83E27;
	transform: scale(1.2);
	transition: 0.4s;
}
label {
	font-family: Archivo;
	font-weight: bold;
	font-size: 1.3em;
	color: white;
}
input{
	border: none;
	padding: 10px;
	border-radius: 15px 0px;
}
textarea{
	border-radius: 15px 0px;
	height: 100px;
}
p{
	font-family: Archivo;
	font-size: 1em;
	color: white;
}
span {
	font-family: Josefin Sans;
	font-size: 1.2em;
	font-weight: bold;
	color: white;
}
.datosper{
	width: 290px;
	min-width: 290px;
	gap:31px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 65px 0px;
	background-color: #DB8810;
}
.datos{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: flex-start;
}
.datos h5{
	margin:3px;
}
.asidecontacto{
	width: 290px;
	min-width: 290px;
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 80px 20px 120px;
}
.asideproy{
	width: 230px;
	min-width: 230px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 100px 0px 90px 60px;
	background-color: #DB8810;
}
.asideproy h6{
	color: white;
	opacity: 100%;
}
.rotar{
	padding-top: 320px;
	transform: rotate(90deg);
}
.niveles {
	padding: 40px 40px;
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: space-around;
	gap: 40px;
}
.centerhome{
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 70px 50px;
}
.sobremi{
	background-color: #E83E27;
	max-width: 500px;
	padding: 15px 35px;
	border-radius: 30px 0px;
}
.experiencia{
	padding: 35px 0px;
}
.exp{
	background-color: #E83E27;
	border-radius: 30px 0px;
	padding: 15px 35px;
	max-width: 500px;
}
.educ{
	display: flex;
	flex-direction: column;
}
.educacion{
	display: flex;
	flex-direction: column;
	background-color: #E83E27;
	border-radius: 30px 0px;
	padding: 35px 35px;
	max-width: 500px;
}
.prim{
	padding-bottom: 23px;
}
.homeder{
	padding: 45px 8% 45px 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap:3%;
}
.homeder h2{
	color:#E83E27;
}
.idiomas{
	background-color: #E83E27;
	border-radius: 25px 0px;
	padding: 1px 35px;
}
.redes{
	padding-top: 35px;
	display: flex;
	gap: 50px;
}
.slider{
	padding-bottom: 40px;
}
.fixed{
	position: fixed;
	top: 18%;
	left: 100%;
	transform: translate(-100%,0%);
	z-index: 200;
	filter: drop-shadow(10px 8px 10px rgba(0,0,0,0.4));
}
.indexslider{
	width: 257px;
	height: 400px;
	background: url("img/slider1.png");
	animation: slide 15s infinite;
	border-radius: 25px 0px;
}
@keyframes slide{
	20%{
		background: url("img/slider1.png");
	}
	40%{
		background: url("img/slider2.png");
	}
	60%{
		background: url("img/slider3.png");
	}
	80%{
		background: url("img/slider4.png");
	}
	100%{
		background: url("img/slider5.png");
	}
}
@keyframes move {
	0% {
		transform: rotate(-20deg);
	}
	30%{
		transform: scale(1.3);
	}
	50% {
		transform:rotate(40deg);
	}
	75%{
		transform: scale(1.1);
	}
	100% {
		transform: rotate(-20deg);
	}
}

.animacion1 {
    animation: move 4s infinite;
	position: absolute;
	top: 15%;
	right: 10%;
	z-index: 20;
}
.animacion2 {
    animation: move 4s infinite;
	position: absolute;
	top: 72%;
	left: 6%;
	z-index: 20;
}